# result(result sample fileは追跡対象)
/result/
!/result/unet_command_result.nbconvert.ipynb
!/result/services/rough_and_fine_image_analysis_epoch_9px.nbconvert.ipynb
/data/img*/**
!/data/**/.gitignore

# cache
.cache
.config
.ipython
.python_history
.bash_history
.jupyter
.nv
tmp
__pycache__


# test file
test.*
